body > table{
    width: 80%;
}

table{
    border-collapse: collapse;
}
table.list{
    width:100%;
}

td, th {
    border: 1px solid #FF8C85;
    text-align: left;
    padding: 8px;
    font-family: 'Raleway',sans-serif;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #FF8C85;
    font-family: 'Raleway',sans-serif;
}

input[type=text], input[type=number], input[type=datetime-local] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #9EFFC5;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Raleway',sans-serif;
}

input[type=submit]{
    width: 30%;
    background-color: #9EFFC5;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    justify-content: left;
    font-family: 'Raleway',sans-serif;
    font-size: 12px;
    color: #B31D14;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}


body{
    background-color: whitesmoke;
    margin: 0px;
    padding:0px;
  }
  
  .banner-text{
    position: flex;
    background-color: whitesmoke;
    top: 200px;
  }
  h1{
    color: #B31D14;
    font-family: 'Raleway',sans-serif;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 2px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
  }
  h2{
    color: #B31D14;
    font-family: 'Raleway',sans-serif;
    font-size: 30px;
    margin: 0px;
    text-align: center;
    text-transform: uppercase;
  }
  h3{
    color: #B31D14;
    font-family: 'Raleway',sans-serif;
    font-size: 15px;
    margin: 0px;
    text-align: left;
  }
  p{
    color: #B31D14;
    font-family: 'Raleway',sans-serif;
    font-size: 25px;
    margin: 0px;
    text-align: left;
    
  }

 
  .banner h2{
    font-size: 120px;
    margin: -40px 0px 60px 0px;
  }
  
  .add-transaction{
   display: grid;
   align-items: center;
  }
  
  .transactions {
    margin-bottom: 10px;
    padding: 40px 0px;
    text-align: center;
    display: block;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .spend{
    margin-bottom: 10px;
    padding: 40px 0px;
    text-align: center;
    display: block;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .check-balance{
    margin-bottom: 10px;
    padding: 40px 0px;
    text-align: center;
    display: block;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    color: #09244e;
    font-family: 'Raleway',sans-serif;
  
  }

 

  .activities-panel h2 {
    width: 100%;
  } 
  


  .check-balance-button{
    width: 30%;
    background-color: #9EFFC5;
    color: #B31D14;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    justify-content: left;
    cursor: pointer;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
  }

 
  .activity{
    background-color: #9EFFC5;
    box-sizing: border-box;
    border-radius: 10%;
    width: 240px;
    height: 75px;
    color: #fff;
    font-family: 'Raleway',sans-serif;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    margin: 5px;
    text-decoration: none;
  }
  .footer{
    background-color: #9EFFC5;
    color: #B31D14;
    padding: 30px;
    text-align: center;
  }
  .footer h2{
    color: #B31D14;
    font-family: 'Raleway',sans-serif;
    font-size: 14px;
    font-weight: 100;
    letter-spacing: 2px;
  }
  
    
  .activity:active {
    font-size: 40px;
    transition: font-size .1s;
  }
  
  section{
    max-width: 100vw;           /* replaced width: 300px; */
    margin: 2vw auto;           /* added auto */
    padding: 0 0 20px;
    background: #FF8C85;
    box-shadow: 2px 4px 25px rgba(178, 148, 101, 0.9);
    border-radius: 10px;
    color: #878;
  }