@font-face {
    font-family: Humble_Lettering;
    src: url('/Humble_Lettering.ttf');
  }

  @font-face {
    font-family: IceCreamPartySolid;
    src: url('/IceCreamPartySolid.ttf');
  }



  .container {
    height: 95vh;
    width: 100vw;
    margin-top: 5vh;
    background-color: rgb(198, 198, 198);
    background-image: url('/Images/icons.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }

  .main {
    display: flex;
    flex-direction: row;
    height: 95vh;
    width: 100vw;
    background-color: #c2c2c2ba;
  }
 

  .leftContainer {
    height: 100%;
    width: 50vw;
  }

  .paragraph {
    width: 40vw;
    margin-top: 20vh;
    margin-left: 5vw;
  }

  .paragraph h2{
    font-size: 3rem;
    margin-top: 5%;
    color: #ffffff;
    font-family: 'Impact', 'Haettenschweiler', 'PublicPixel';
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #F1B257;
    font-weight: 600;
  }

  .paragraph h3{
    font-size: 2rem;
    color: #F1B257;
    font-family: 'Impact', 'Haettenschweiler', 'PublicPixel';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #4f4f4f;
    font-weight: 600;
  }

  .paragraph p{
    font-size: 1rem;
    color: #F1B257;
    font-family: 'Impact', 'Haettenschweiler', 'PublicPixel';
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #4f4f4f;
  
  }

  .rightContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50vw;
  }

  .list{
    font-size: 1.2rem;
    color: #F1B257;
    font-family: 'Impact', 'Haettenschweiler', 'PublicPixel';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #4f4f4f;
    text-align: center;
    margin-right: 2vw;
  }


  .languageP {
   
    width: 40vw;
    font-size: 2rem;
    margin-top: 15vh;
    color: #ffffff;
    font-family: 'Impact', 'Haettenschweiler', 'PublicPixel';
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #F1B257;
    font-weight: 600;

  }


  .languageLists {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: 600;
    height: 20vh;
    width: 100%;
     
  }


  @media (max-width: 710px) {

  }



  
