@font-face {
    font-family: Humble_Lettering;
    src: url('/Humble_Lettering.ttf');
  }

  @font-face {
    font-family: IceCreamPartySolid;
    src: url('/IceCreamPartySolid.ttf');
  }

@media (max-width: 400px) {
  .container {
    padding: 0 2rem;
    background-color: rgb(198, 198, 198);
  }

  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: blue;
    text-align: center;
    justify-content: center;
  }

  .header a {
    color: yellow;
    margin: 33.5px;
  }

  .leftContainer {
    height: 100%;
    width: 50%;
  }

   .businessCard {
      font-size: 15px;
      font-family: 'Humble_Lettering', sans-serif;
   }

  .rightContainer {
    height: 100%;
    width: 50%;
    margin-left: 35%;
  }

  .box {
      display: flex;
      flex-direction: column;
      border: 1px solid #eded81;
      box-shadow: 6px 8px 4px 2px #3c3c3c57;
      height: 200px;
      width: 200px;
  }

  #box1{
   font-size: 8px;
   font-family: 'Humble_Lettering', sans-serif;
   background-image: url('/Images/lxpic.jpg');
   background-repeat: no-repeat;
   background-position: 50% 0;
   background-size: cover;
   z-index: 1;
  }

  #box2{
    font-size: 18px; 
    background-image: url('/Images/surfpic.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  #box3{
    font-size: 20px; 
    background-image: url('/Images/nccpic.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  .languageLists {
      font-size: 9px;
      justify-content: space-between;
      align-content: space-between;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }

  .form {
      display: flex;
      flex-direction: column;
  }

  .iconList {
    font-size: 25px;
    margin-top: -5px;
  }

  .list {
    font-size: 12px;
    
  }
}

@media (min-width: 401px) {

  .container {
    padding: 0 2rem;
    height: 600px;
    background-color: rgb(198, 198, 198);
  }

  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: blue;
    text-align: center;
    justify-content: center;
  }

  .header a {
    color: yellow;
    margin: 33.5px;
  }

  .leftContainer {
    height: 100%;
    width: 50%;
  }

   .businessCard {
      font-size: 15px;
      font-family: 'Humble_Lettering', sans-serif;
      margin-top: -45px;
   }

  .rightContainer {
    height: 100%;
    width: 50%;
    margin-left: 35%;
  }

  .box {
      display: flex;
      flex-direction: column;
      border: 1px solid #eded81;
  
      box-shadow: 6px 8px 4px 2px #3c3c3c57;
      height: 200px;
      width: 200px;
     
  }

  #box1{
   font-size: 8px;
   font-family: 'Humble_Lettering', sans-serif;
   margin: -450px 0 0 150px;
   transform: rotate(20deg);
   background-image: url('/Images/lxpic.jpg');
   background-repeat: no-repeat;
   background-position: 50% 0;
   background-size: cover;
   z-index: 1;
  }

  #box2{
    font-size: 18px; 
    background-image: url('/Images/surfpic.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    margin: -75px 0 0 300px;
    transform: rotate(-15deg);
    z-index: 9;
  }

  #box3 {
    font-size: 10px; 
    margin: -125px 0 0 50px;
    transform: rotate(2deg);
    background-image: url('/Images/nccpic.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  .languageLists {
      font-size: 9px;
      
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
  }

  .form {
      display: flex;
      flex-direction: column;
  }

  .iconList {
    font-size: 35px;
    margin-right: 10px;
  }

  .list {
    font-size: 18px; 
    margin-top: 40px;
    
  }

  .paragraph {
    width: 75%;
  }

  .icon {
    font-size: 40px;
  }
}
