.footer {
    text-align: center;
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 0;
    align-content: center;
    justify-content: center;
    z-index: 9;
    width: 100vw;
    height: 10vh;
    background-color: #1b1b1b;
  }

 
  .footer h1 {
    font-size: 1.5rem;
    color: #4f4f4f;
    font-family: 'PublicPixel';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #F1B257;
    font-weight: 600;

  }
  
  

  .name {
    display: flex;
  
  }

 
  @media (max-width: 710px) {

 
  .footer h1 {
    font-size: 1rem;
    color: #4f4f4f;
    font-family: 'PublicPixel';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #F1B257;
    font-weight: 600;

  }
  }
