@font-face {
  font-family: PublicPixel;
  src: url('/PublicPixel-z84yD.ttf');
}


  .scrollContainer {
    width: 100%;
    height: 400vh;
    position: absolute;
    top: 0;
  }
  .container {
    background-color: rgb(22, 35, 59);
    background-image: url('/Images/pixelbackground.png');
    background-size: 100% 100%;
    width: 100%;
    height: 101vh;
    position: fixed;
    top: 0;
    z-index: -1;
  }

  .raincontainer {
    background-image: url('/Images/2ii5.gif');
    background-color: #4a8ad300;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100% 100%;
    position: fixed;
    top: 0%;
    height: 100vh;
    width: 95%;
    margin-left: 2.5%;
    z-index: 6;
  }
  
  .main {
    flex: 1;
    justify-content: center;
    align-items: center;
    background-color: #4a8ad300;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: 100% 100%;
    
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .cardContainer {
    height: 300vh;
    margin-top: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    
  }
  
  .card {
    text-align: center;
    color: #e5ecea;
    text-decoration: none;
    transition: color 0.15s ease, border-color 0.15s ease;
    width: 35%;
    height: 15%;
    border-radius: 50%;
    margin-top: 15vh;
    margin-bottom: 15vh;
    z-index: 9;
    background-image: url('/Images/Vp3M.gif');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .title,
  .description {
    text-align: center;
  
  }
  
  .description {
    
    line-height: 1.5;
    font-size: 1.5rem;
  }
  
  .code {
    background: #fafafa;
    border-radius: 5px;
    padding: 0.75rem;
    font-size: 1.1rem;
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
      Bitstream Vera Sans Mono, Courier New, monospace;
  }
  
 
  
  .card:hover,
  .card:focus,
  .card:active {
    color: #53ffa0;
    background-color: #90daeba2;;
    
  }
  
  .card h2 {
    font-size: 2.5rem;
    margin-top: 55% !important;
    color: #ffd500;
    font-family: 'PublicPixel';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e88009;
    font-weight: 600;
    text-decoration: none;
  }
  
  .card p {
    margin: 0;
    font-size: 1rem;
    line-height: 1.5;
    font-family: 'PublicPixel';
    color: #e88009;
   
    font-weight: 600;
    text-decoration: none;
  }

  .card h2:hover,
  .card h2:focus,
  .card h2:active {
    color: #f6b8ec;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #d56fae;
  }
  .card p:hover,
  .card p:focus,
  .card p:active {
    color: #f6b8ec;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #d56fae;

  }
  
  .arrowcontainer {
    z-index: 9;
    background-image: url('/Images/greenarrow.gif');
    position: absolute;
    top: 15%;
    left: 75%;
    height: 35vh;
    width: 30vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .logo {
    height: 1em;
    margin-left: 0.5rem;
  }
  
  .gamesrow {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1400px;
  }
  
  .games {
    margin: 1rem;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    max-width: 300px;
  }

  .header {
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    position: fixed;
    z-index: 9;
    top: 0;
    justify-content: space-between;
    align-content: center;
    width: 100vw;
    background-color: #e9bfdac8;
  }
  .starcontainer {
    z-index: 9;
    background-image: url('/Images/Vp3M.gif');
    height: 12vh;
    width: 12vh;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .h1container {
    
    width: 25vw;
  }
 
  .header h1 {
    font-size: 1.5rem;
    color: #ffd500;
    font-family: 'PublicPixel';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e88009;
    font-weight: 600;
    flex-wrap: wrap;
  }
  
  
  .header p {
    font-size: 1.5rem;
    color: #e5ecea;
    font-weight: 600;
  }

  .header a {
    font-size: 1.2rem;
    color: #ffd500;
    font-family: 'PublicPixel';
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #e88009;
    font-weight: 600;
  }
  
  .name {
    display: flex;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: wrap;
    width: 45vw;
    margin-left: 2vw;
  }

  .nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 600;
    width: 50vw;
 
  }
  .navLink {
    color: #e5ecea;
  }

  .navLink:hover,
  .navLink:focus,
  .navLink3:active {
    color: #ffffff;
  }


  
