@font-face {
  font-family: IceCreamPartySolid;
  src: url('/IceCreamPartySolid.ttf');
}
@font-face {
  font-family: IceCreamParty;
  src: url('/IceCreamParty.ttf');
}

@media (max-width: 400px) {

.container {
    background-color: #7d86a1;
  }

  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: yellow;
    text-align: center;
    justify-content: center;
  }

  .header a {
    color: yellow;
    margin-right: 33.5px;
  }

  .gridContainer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    background-image: url('/Images/p5jsbackpic.png');
    background-color: #1b1b1b;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  .gridItem {
     height: 140px;
     position: relative;
     width: 200px;
     margin: 52px 0px 0px 50px;
     border: 2px solid rgb(99, 98, 98);
     border-radius: 2px;
     background-color: #1b1b1b;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  

  #id15 {
    font-family: 'IceCreamParty', sans-serif;  
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 0%;
    background-color: transparent;
  }
  #id15:hover {
    color: gold;
  }
  #id15 h3 {
    font-size: 36px;
   
  }
  #id16 {
    font-family: 'IceCreamPartySolid', sans-serif;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 0%;
    background-color: transparent;
  }
  #id16:hover {
    color: gold;
  }
  #id16 h3 {
    font-size: 36px;
  }


 

  .footer {
    width: 100%;
    height: 10%;
    
    display: block;
    position: sticky;
    background-color: black;
    z-index: 5;
  }
}

@media (min-width: 401px) {

  .container {
    background-color: #7d86a1;
    justify-content: center;
    align-content: center;
  }

  .header {
    display: flex;
    flex-direction: row;
    width: 100%;
    color: yellow;
    text-align: center;
    justify-content: center;
  }

  .header a {
    color: yellow;
    margin-right: 33.5px;
  }

  .gridContainer {
    display: grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: 12% 12% 12% 12% 12%;
    grid-template-rows: 23% 23% 23% 23%;
    grid-row-gap: 10px;
    grid-column-gap: 30px;
    background-image: url('/Images/p5jsbackpic.png');
    background-color: #1b1b1b;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 90vh;
  }

  .gridItem {
     height: 15vh;
     width: 20vh;
     border: 2px solid rgb(99, 98, 98);
     border-radius: 2px;
     background-color: #1b1b1b;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }

  .footer {
    width: 100%;
    height: 10%;
    
    display: block;
    position: sticky;
    background-color: black;
    z-index: 5;
  }
}