.main {
    min-height: 100vh;
    flex: 1;
    justify-content: center;
    color: #E9E1D9;
    align-items: center;
    background-color: #1b1b1b;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
.container {
    display: flex; 
    flex-direction: column;
    background-color: #1b1b1b;
  }
  .container h3 {
   text-align: center;
  }
  
  .pageName {
    margin-left: 30%;
  }
  
  .header {
    background-color: #1b1b1b;
    display: flex;
    flex-direction: column;
  }
  
  .homeLink {
    font-size: 1.5rem;
    color: #E9E1D9;
    text-decoration: none;
    margin: 1rem;
    font-weight: 600;
  }
  
  .homeLink:hover {
    color: #CF5D48;
  }
  
  
  .websitesContainer {
    display: flex;
  
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .websitesContainer a {
     color: #CF5D48;
     text-decoration: none;
     font-size: 1.25rem;
    
  }
  
  
  .websiteCard {
    display: flex;
    height: 200px;
    text-align: left;
    color: #E9E1D9;
    text-decoration: none;
    border: 1px solid #F1B257;
    border-radius: 15px;
    box-shadow: 7px 5px #2a2a2a;
    max-width: 300px;
    max-height: 300px;
    margin-bottom: 7px;
    margin-top: 0px;
    margin-left: 0; 
    transition: margin-bottom 0.2s ease, margin-top 0.2s ease, margin-left 0.3s ease, box-shadow 0.3s ease; 
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
  }
  
  .websiteCard:hover,
  .websiteCard:focus,
  .websiteCard:active {
    color: #a5ccfa;
    margin-bottom: -2px;
    margin-left: 6px; 
    margin-top: 21px;
    box-shadow: 1px 1px #161616;
  }
  
  .websiteCard h2 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
  }
  
  .websiteCard p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
  } 
  
  .outterCardContainer {
    border: 1px solid #F1B257;
    background-color: #4f4f4f;
    border-radius: 15px;
    width: 310px;
    margin: 1rem;
    justify-content: left;
  }
  

  .footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    justify-content: center;
    align-items: center;
  }
